<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>

  <p> Splurty was built by <a target="_blank" href="https://github.com/CiaraAnderson">Ciara</a>. A linguist and programmer encouraging others to pursue their passions and keep going!
  </p>
  <br />
  <p>
     She hopes to bring together the worlds of linguistics and coding in her programming endeavours.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>




  <div class="row">
    <div class="col-12 col-sm4" style="padding-top:30px;">
      <%= image_tag 'Ciara.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ciara Anderson</h2>
      <br />
      <p>
        Ciara is a linguist and programmer. She has studied linguistics for several years, collected language data from native speakers in the heart of north-west Cameroon, and taught English as a second language to students from all around the globe.
      </p>
    </div>
  </div>
<br class="clear" />

<br class="clear" />
<br />
<br />
<br />
<br />